<!--<h4 ng-if="vm.auth.isAuthenticated()">-->
  <!--You are logged in!-->
  <!--<button-->
          <!--class="btn btn-primary btn-margin"-->
          <!--ng-if="vm.auth.isAuthenticated()"-->
          <!--ng-click="vm.auth.logout()">-->
    <!--Log Out-->
  <!--</button>-->
<!--</h4>-->
<!--<h4 ng-if="!vm.auth.isAuthenticated()">-->
  <!--You are not logged in! Please <a ng-click="vm.auth.login()">Log In</a> to continue.-->
  <!--<button-->
          <!--class="btn btn-primary btn-margin"-->
          <!--ng-if="!vm.auth.isAuthenticated()"-->
          <!--ng-click="vm.auth.login()">-->
    <!--Log In-->
  <!--</button>-->
<!--</h4>-->



<!--<div ng-if="isauth">-->


<div layout-gt-md="row">

  <div align="center">
      <img src="assets/images/back.png" alt="producer" >
      <br><br>
      <img src="assets/images/producer.png" alt="producer" >
    <h1>Welcome to Integrated Trends Discovery Tool</h1><br>

  </div>
</div>


<div layout-gt-md="row" align="center">

  <div  style="background-color:white; margin: 30px; padding:30px; box-shadow: 10px 10px 5px grey;">
    <div class="panel panel-default">
      <div align="center"><h3>Step 1: </h3></div>
      <div align="center"><h4>In the "Queries" page specify the parameters<br>
        (e.g. keywords, time period, region)<br>
        and execute a "Trends Discovery" process.</h4></div>
      <div align="center"><i class="material-icons">youtube_searched_for</i></div>
    </div>
  </div>

  <div  style="background-color:white; margin: 30px; padding:30px;  box-shadow: 10px 10px 5px grey;">
    <div class="panel panel-default">
      <div align="center"><h3>Step 2: </h3></div>
        <div align="center"><h4>Results from performed "Trends Discoveries" <br>
          are available at the "History" page.</h4></div>
        <div align="center"><i class="material-icons">history</i></div>
    </div>
  </div>
</div>