<div id="top" align="center"><h2>Trends Discovery Results</h2>
    <div><b>Query Description:</b> {{description}}  - <b>Searching term:</b> {{keyword}} - <b>Processing duration:</b> {{call_duration}} </div>
    <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="30px"></md-progress-circular>
    <div ng-show="isLoading">This might take some minutes
        depending on the Query parameters. You can check the History page in order to view the results when they are ready.
    </div>

</div>


<div id="queries" align="center"><h3>Available Queries</h3></div>
<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered table-scroll">
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Keywords</th>
            <th>Time Period</th>
            <th>Countries/Cities</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.queriesData ">
            <td data-title="ID">{{data.id}}</td>
            <td data-title="description">{{data.description}}</td>
            <td data-title="keyword(s)">{{data.keywords}}</td>
            <td data-title="period">{{data.start_date.substring(0, data.start_date.length - 9)}} {{data.end_date.substring(0, data.end_date.length - 9)}}</td>
            <ion-icon name="checkmark" color="secondary" item-right *ngIf="item.status"></ion-icon>
            <td data-title="location">{{data.location}}</td>
            <td data-title=""> <md-button class="md-raised md-mybutton" ng-click='discover(data.id, data.keywords,data.description)'>Discover</md-button></td>

        </tr>
        </tbody>
    </table>
</div>

</div>