<div id="top" align="center"><h2>Trends Discovery Results</h2>
    <div><b>Query Description:</b> {{description}}  - <b>Searching term:</b> {{keyword}} - <b>Processing duration:</b> {{call_duration}} </div>
    <md-progress-circular md-mode="indeterminate" ng-show="isLoading" md-diameter="30px"></md-progress-circular>
    <div ng-show="isLoading">This might take some minutes
        depending on the Query parameters. You can check the History page in order to view the results when they are ready.
    </div>

</div>

<!--<div layout-gt-md="row">-->

     <!--<div class="col-md-6"  style="background-color:white; margin: 30px;  box-shadow: 10px 10px 5px grey;">-->
        <!--<div class="panel panel-default">-->
            <!--<div align="center"><h3>Related Query Terms</h3></div>-->
            <!--<div class="table-responsive-vertical ">-->

                <!--&lt;!&ndash; exact table from live demo &ndash;&gt;-->
                <!--<div class="span3">-->
                    <!--<table md-table md-row-select multiple class="table-hover table-bordered" >-->
                        <!--<thead md-head >-->
                        <!--<tr md-row>-->
                            <!--<th md-column>Query</th>-->
                            <!--<th md-column >Value (normalised 100)</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody md-body>-->
                        <!--<tr md-row ng-repeat="relateddata in discoverRelatedData | orderBy : value">-->
                            <!--<td md-cell>{{relateddata.query}}</td>-->
                            <!--<td md-cell>{{relateddata.value}}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--<div class="col-md-6"  style="background-color:white; margin: 30px;  box-shadow: 10px 10px 5px grey;">-->
        <!--<div class="panel panel-default">-->
            <!--<div align="center"><h3>Rising Related Query Terms</h3></div>-->
            <!--<div class="table-responsive-vertical ">-->


                <!--<div class="span3">-->
                    <!--<table md-table md-row-select multiple class="table-hover table-bordered" >-->
                        <!--<thead md-head >-->
                        <!--<tr md-row>-->
                            <!--<th md-column>Term</th>-->
                            <!--<th md-column >Value </th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody md-body>-->
                        <!--<tr md-row ng-repeat="risingdata in discoverRisingData | orderBy : value">-->
                            <!--<td md-cell>{{risingdata.query}}</td>-->
                            <!--<td md-cell>{{risingdata.value}}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


<!--</div>-->


<!--<div layout-gt-md="row">-->

    <!--<div class="col-md-6 md-whiteframe2dp" style="background-color:white;margin: 30px;  box-shadow: 10px 10px 5px grey;">-->
        <!--<div align="center"><h3>Keyword Volume</h3></div>-->
        <!--<div class="table-responsive-vertical">-->
            <!--&lt;!&ndash; exact table from live demo &ndash;&gt;-->
            <!--<div class="span3">-->
                <!--<table md-table md-row-select multiple class="table-hover table-bordered" >-->
                    <!--<thead md-head >-->
                    <!--<tr md-row>-->
                        <!--<th md-column>Year</th>-->
                        <!--<th md-column >Month</th>-->
                        <!--&lt;!&ndash;<th md-column >Search Count (rounded)</th>&ndash;&gt;-->
                        <!--<th md-column>Search Count (rounded)</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody md-body>-->


                    <!--<tr md-row ng-repeat="volumedata in discoverVolumeData | orderBy: '-count'  track by $index">-->
                        <!--<td md-cell>{{volumedata.year}}</td>-->
                        <!--<td md-cell>{{volumedata.month}}</td>-->
                        <!--<td md-cell>{{volumedata.count}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-6 md-whiteframe2dp" style="background-color:white;margin: 30px;  box-shadow: 10px 10px 5px grey;">-->
        <!--<div align="center"><h3>Popular Related Questions</h3></div>-->
        <!--<div class="table-responsive-vertical">-->
            <!--&lt;!&ndash; exact table from live demo &ndash;&gt;-->
            <!--<div class="span3">-->
                <!--<table md-table md-row-select multiple class="table-hover table-bordered" >-->
                    <!--<thead md-head >-->
                    <!--<tr md-row>-->
                        <!--<th md-column>Questions</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody md-body>-->
                    <!--<tr md-row ng-repeat="questions in discoverQuestionData track by $index">-->
                        <!--<td md-cell>{{questions}}</td>-->
                    <!--</tr>-->
                    <!--&lt;!&ndash;<tr md-row ng-repeat="questionDid in discoverQuestionDataDid track by $index">&ndash;&gt;-->
                        <!--&lt;!&ndash;<td md-cell>{{questionDid}}</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->

                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div layout-gt-md="row">-->

    <!--<div class="col-md-6 md-whiteframe2dp" style=" background-color:white;margin: 30px;  box-shadow: 10px 10px 5px grey;">-->
        <!--<div align="center"><h3>Interest by Region</h3></div>-->
        <!--<div class="table-responsive-vertical">-->
            <!--&lt;!&ndash; exact table from live demo &ndash;&gt;-->
            <!--<div class="span3">-->
                <!--<table md-table md-row-select multiple class="table-hover table-bordered"  >-->
                    <!--<thead md-head >-->
                    <!--<tr md-row>-->
                        <!--<th md-column>Region</th>-->
                        <!--<th md-column>Interest (normalised 100)</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody md-body>-->
                    <!--<tr md-row ng-repeat="regiondata in discoverRegionInterestData | orderBy:'-interest' track by $index">-->
                        <!--<td md-cell>{{regiondata.region}}</td>-->
                        <!--<td md-cell>{{regiondata.interest}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-6 md-whiteframe2dp" style="background-color:white;margin: 30px;  box-shadow: 10px 10px 5px grey;">-->
        <!--<div align="center"><h3>Interest by Time</h3></div>-->
        <!--<div class="table-responsive-vertical">-->
            <!--&lt;!&ndash; exact table from live demo &ndash;&gt;-->
            <!--<div class="span3">-->
                <!--<table md-table md-row-select multiple class="table-hover table-bordered" >-->
                    <!--<thead md-head >-->
                    <!--<tr md-row>-->
                        <!--<th md-column>Date</th>-->
                        <!--<th md-column >Interest (normalised 100)</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody md-body>-->
                    <!--<tr md-row ng-repeat="timedata in discoverTimeInterestData | orderBy: '-interest'  track by $index">-->
                        <!--<td md-cell>{{timedata.date}}</td>-->
                        <!--<td md-cell>{{timedata.interest}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


<!--</div>-->


<!--<div layout-gt-md="row">-->

    <!--<div class="md-whiteframe2dp" style="background-color:white;margin: 30px;  box-shadow: 10px 10px 5px grey;">-->
        <!--<div align="center"><h3>Popular Related Tweets</h3>[Twitter API only serves tweets from the past week]</div>-->

        <!--<div class="table-responsive-vertical">-->

            <!--<div class="span3">-->
                <!--<table md-table md-row-select multiple class="table-hover table-bordered" >-->
                    <!--<thead md-head >-->
                    <!--<tr md-row>-->
                        <!--<th md-column>User</th>-->
                        <!--<th md-column>Text</th>-->
                        <!--<th md-column >Retweets - Favs</th>-->
                        <!--<th md-column >Date</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody md-body>-->
                    <!--<tr md-row ng-repeat="tweet in discoverTweets track by $index">-->
                        <!--<td md-cell><a ng-href="https://twitter.com/intent/user?user_id={{tweet.id}}" target="_blank">{{tweet.user}}</a></td>-->
                        <!--<td md-cell>{{tweet.text}}</td>-->
                        <!--<td md-cell>{{tweet.retweets}} - {{tweet.favs}}</td>-->
                        <!--<td md-cell>{{tweet.created}}</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="md-whiteframe2dp" style=" background-color:white;margin: 30px;  box-shadow: 10px 10px 5px grey;">-->
        <!--<div align="center" style="margin: 20px; "><h3>Gender Estimation based on related Tweets</h3>[Twitter API only serves tweets from the past week]-->
        <!--</div>-->
            <!--<md-content layout="row" layout-align="center center">-->
                <!--<nvd3 options="genderChartOptions" data="genderVisitorsChartData"></nvd3>-->
            <!--</md-content>-->
        <!--<div ng-show="show_gender" align="center" style="margin: 20px;"> Total Tweets processed: {{discoverTweetsGender.total_records}}</div>-->
        <!--<div ng-show="show_gender" align="center" style="margin: 20px;"> Confidence level:<br>-->
        <!--Male:{{discoverTweetsGender.male_conf}}, Female:{{discoverTweetsGender.female_conf}}</div>-->

    <!--&lt;!&ndash;</panel-widget>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->



<div id="queries" align="center"><h3>Available Queries</h3></div>
<div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Keywords</th>
            <th>Time Period</th>
            <th>Countries/Cities</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in vm.queriesData ">
            <td data-title="ID">{{data.id}}</td>
            <td data-title="description">{{data.description}}</td>
            <td data-title="keyword(s)">{{data.keywords}}</td>
            <td data-title="period">{{data.start_date.substring(0, data.start_date.length - 9)}} {{data.end_date.substring(0, data.end_date.length - 9)}}</td>
            <ion-icon name="checkmark" color="secondary" item-right *ngIf="item.status"></ion-icon>
            <td data-title="location">{{data.location}}</td>
            <td data-title=""> <md-button class="md-raised md-mybutton" ng-click='discover(data.id, data.keywords,data.description)'>Discover</md-button></td>

        </tr>
        </tbody>
    </table>
</div>


</div>